/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  html {
    font-family: "Playfair Display", serif;
    font-size: 5px;
  }
  body {
    margin-top: 5rem;
  }

  /* NavBar */
  #navbar #company-logo {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem 0.5rem;
    margin-left: 6rem;
    text-decoration: none;
    float: left;
  }
  /* Always On top Nav-Bar */
  #navbar ul {
    background-color: rgb(249, 249, 249);
    font-family: "Cabin", sans-serif;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    margin: 0;
    padding-right: 6rem;
    list-style-type: none;
    overflow: hidden;
  }
  #navbar li {
    float: right;
  }
  #navbar li a {
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    display: block;
    color: black;
    text-align: center;
    padding: 2rem 0.5rem;
    text-decoration: none;
  }
  #navbar li a:hover {
    background-color: lightgrey;
  }

  /* Main Content */
  #main-content {
    /* Doggo */
    background-image: url("./assets/image-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* Front page text box */
  #main-content-info {
    background-color: rgb(249, 249, 249);
    display: inline-block;
    margin-top: 8.5rem;
    margin-left: 6rem;
    margin-bottom: 6rem;
    height: 17.5rem;
    width: 27.5rem;
    padding: 2.25rem;
  }
  #main-content-info h1 {
    font-size: 2rem;
    text-align: center;
  }
  #main-content-info p {
    font-family: "Cabin", sans-serif;
    text-align: left;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 1.25rem;
    padding-top: 0.5rem;
  }

  /* Carousel */
  #carousel {
    background-color: rgb(249, 249, 249);
    height: 30vh;
    text-align: center;
    padding-top: 4rem;
  }
  #carousel h1 {
    margin-bottom: 1.5rem;
    font-size: 1.9rem;
  }
  #carousel img {
    width: 60%;
  }
  #carousel h3 {
    font-family: "Cabin", sans-serif;
    padding-top: 1.5rem;
    font-size: 0.95rem;
    letter-spacing: 0.1rem;
  }
  #carousel footer {
    color: rgb(39, 39, 39);
    font-size: 0.9rem;
    padding-top: 0.5rem;
    font-style: italic;
  }
  /* Left and right Arrows */
  .fa-angle-left {
    float: left;
    margin-top: 7.5rem;
    margin-left: 6rem;
  }
  .fa-angle-right {
    float: right;
    margin-top: 7.5rem;
    margin-right: 6rem;
  }

  /* Cards */
  #grid-content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 1.5rem;
    margin: 5rem 6.5rem 5rem 6.5rem;
  }
  #grid-content .card {
    background-color: rgb(249, 249, 249);
    width: 38vw;
    height: 100%;
  }
  #grid-content .card img {
    width: 38vw;
  }
  /* Cards Title */
  #grid-content .card h1 {
    font-size: 1.75rem;
    text-align: left;
    margin: 1rem 1.5rem 0rem 1.5rem;
  }
  /* Cards Content */
  #grid-content .card p {
    font-family: "Cabin", sans-serif;
    text-align: left;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 0.5rem 1.75rem 0rem 1.5rem;
  }
  /* Transparent Clickable Read-Me */
  #grid-content button {
    color: rgb(250, 0, 0);
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.4rem 1.25rem 1.5rem 1.5rem;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  #grid-content #img-contain {
    position: relative;
  }
  #grid-content #date-box {
    background-color: rgb(250, 0, 0);
    color: rgb(249, 249, 249);
    font-family: "Cabin", sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    position: absolute;
    bottom: -0.5rem;
    right: 1.75rem;
    padding: 0.15rem 0.6rem 0.15rem 0.6rem;
  }
  /* Page Footer */
  #page-footer {
    background-color: rgb(70, 70, 70);
    color: rgb(249, 249, 249);
    font-family: "Cabin", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 1.5rem;
    padding: 2.25rem 6rem 2.25rem 6rem;
  }
  /* Left Side */
  #page-footer #left-info {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 38vw;
  }

  #page-footer #footer-info {
    text-align: left;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-right: 2.5rem;
  }

  #page-footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #page-footer li a {
    color: rgb(249, 249, 249);
    text-decoration: none;
    text-align: left;
    padding: 0.05rem;
  }

  #page-footer li a:hover {
    background-color: #555;
    color: rgb(249, 249, 249);
  }
  /* Right side */
  #page-footer #footer-form {
    text-align: left;
    font-size: 1rem;
    line-height: 1.75rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  #page-footer #footer-form h5 {
    letter-spacing: 0.05rem;
  }

  #page-footer #sign-up-info {
    width: 100%;
  }

  #page-footer #sign-up {
    width: 38vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
  }

  #page-footer input {
    height: 2.8rem;
    width: 55%;
  }

  #page-footer #sign-up input::placeholder {
    font-family: "Playfair Display", serif;
    font-style: italic;
    color: grey;
    font-size: 0.9rem;
    padding: 1rem;
  }
  /* Subscription Button */
  #page-footer button {
    background-color: rgb(250, 0, 0);
    color: rgb(249, 249, 249);
    font-family: "Cabin", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
  }

  /* Page End */
  #page-end {
    background-color: rgb(36, 36, 36);
    color: rgb(249, 249, 249);
    font-family: "Cabin", sans-serif;
    padding: 0.75rem 6rem 0.75rem 6rem;
  }

  #page-end h4 {
    font-family: "Cabin", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }

  #page-end-icons {
    float: right;
    letter-spacing: 0.25rem;
    font-size: 0.75rem;
    text-align: center;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  html {
    font-family: "Playfair Display", serif;
    font-size: 10px;
  }
  body {
    margin-top: 5rem;
  }
  /* NavBar */
  #company-logo {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem 0.5rem;
    margin-left: 6rem;
    text-decoration: none;
    float: left;
  }
  /* Always On top Nav-Bar */
  #navbar ul {
    background-color: rgb(249, 249, 249);
    font-family: "Cabin", sans-serif;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    margin: 0;
    padding-right: 6rem;
    list-style-type: none;
    overflow: hidden;
  }

  li {
    float: right;
  }

  li a {
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    display: block;
    color: black;
    text-align: center;
    padding: 2rem 0.5rem;
    text-decoration: none;
  }

  li a:hover {
    background-color: lightgrey;
  }

  /* Main Content */
  #main-content {
    /* Doggo */
    background-image: url("./assets/image-1.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Front page text box */
  #main-content-info {
    background-color: rgb(249, 249, 249);
    display: inline-block;
    margin-top: 8.5rem;
    margin-left: 6rem;
    height: 17.5rem;
    width: 27.5rem;
    padding: 2.25rem;
  }

  #main-content-info h1 {
    font-size: 2rem;
    text-align: center;
  }
  #main-content-info p {
    font-family: "Cabin", sans-serif;
    text-align: left;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 1.25rem;
    padding-top: 0.5rem;
  }
  /* Carousel */
  #carousel {
    background-color: rgb(249, 249, 249);
    height: 60vh;
    text-align: center;
    padding-top: 4rem;
  }
  #carousel h1 {
    margin-bottom: 1.5rem;
    font-size: 1.9rem;
  }
  #carousel img {
    width: 60%;
  }
  #carousel h3 {
    font-family: "Cabin", sans-serif;
    padding-top: 1.5rem;
    font-size: 0.95rem;
    letter-spacing: 0.1rem;
  }
  #carousel footer {
    color: rgb(39, 39, 39);
    font-size: 0.9rem;
    padding-top: 0.5rem;
    font-style: italic;
  }
  /* Left and right Arrows */
  .fa-angle-left {
    float: left;
    margin-top: 7.5rem;
    margin-left: 6rem;
  }
  .fa-angle-right {
    float: right;
    margin-top: 7.5rem;
    margin-right: 6rem;
  }

  /* Cards */
  #grid-content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 1.5rem;
    margin: 5rem 6.5rem 5rem 6.5rem;
  }

  #grid-content .card {
    background-color: rgb(249, 249, 249);
    width: 38vw;
    height: 100%;
  }
  #grid-content .card img {
    width: 38vw;
  }
  /* Cards Title */
  #grid-content .card h1 {
    font-size: 1.75rem;
    text-align: left;
    margin: 1rem 1.5rem 0rem 1.5rem;
  }
  /* Cards Content */
  #grid-content .card p {
    font-family: "Cabin", sans-serif;
    text-align: left;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 0.5rem 1.75rem 0rem 1.5rem;
  }
  /* Transparent Clickable Read-Me */
  #grid-content button {
    color: rgb(250, 0, 0);
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.4rem 1.25rem 1.5rem 1.5rem;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  #grid-content #img-contain {
    position: relative;
  }
  #grid-content #date-box {
    background-color: rgb(250, 0, 0);
    color: rgb(249, 249, 249);
    font-family: "Cabin", sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    position: absolute;
    bottom: -0.5rem;
    right: 1.75rem;
    padding: 0.15rem 0.6rem 0.15rem 0.6rem;
  }
  /* Page Footer */
  #page-footer {
    background-color: rgb(70, 70, 70);
    color: rgb(249, 249, 249);
    font-family: "Cabin", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 1.5rem;
    padding: 2.25rem 6rem 2.25rem 6rem;
    height: 20vh;
  }
  /* Left Side */
  #page-footer #left-info {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 38vw;
  }

  #page-footer #footer-info {
    text-align: left;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-right: 2.5rem;
  }

  #page-footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
  }

  #page-footer li a {
    color: rgb(249, 249, 249);
    text-decoration: none;
    text-align: left;
    padding: 0.05rem;
  }

  #page-footer li a:hover {
    background-color: #555;
    color: rgb(249, 249, 249);
  }
  /* Right side */
  #page-footer #footer-form {
    text-align: left;
    font-size: 1rem;
    line-height: 1.75rem;
    height: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  #page-footer #footer-form h5 {
    letter-spacing: 0.05rem;
  }

  #page-footer #sign-up-info {
    width: 100%;
  }

  #page-footer #sign-up {
    width: 38vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
  }

  #page-footer input {
    height: 2.15rem;
    width: 60%;
  }

  #page-footer #sign-up input::placeholder {
    font-family: "Playfair Display", serif;
    font-style: italic;
    color: grey;
    font-size: 0.9rem;
    padding: 1rem;
  }
  /* Subscription Button */
  #page-footer button {
    background-color: rgb(250, 0, 0);
    color: rgb(249, 249, 249);
    font-family: "Cabin", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
  }

  /* Page End */
  #page-end {
    background-color: rgb(36, 36, 36);
    color: rgb(249, 249, 249);
    font-family: "Cabin", sans-serif;
    padding: 0.75rem 6rem 0.75rem 6rem;
  }

  #page-end h4 {
    font-family: "Cabin", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }

  #page-end-icons {
    float: right;
    letter-spacing: 0.25rem;
    font-size: 0.75rem;
    text-align: center;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  html {
    font-family: "Playfair Display", serif;
    font-size: 20px;
  }
  body {
    margin-top: 5rem;
  }
  /* NavBar */
  #company-logo {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem 0.5rem;
    margin-left: 6rem;
    text-decoration: none;
    float: left;
  }
  /* Always On top Nav-Bar */
  #navbar ul {
    background-color: rgb(249, 249, 249);
    font-family: "Cabin", sans-serif;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    margin: 0;
    padding-right: 6rem;
    list-style-type: none;
    overflow: hidden;
  }

  li {
    float: right;
  }

  li a {
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    display: block;
    color: black;
    text-align: center;
    padding: 2rem 0.5rem;
    text-decoration: none;
  }

  li a:hover {
    background-color: lightgrey;
  }

  /* Main Content */
  #main-content {
    /* Doggo */
    background-image: url("./assets/image-1.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Front page text box */
  #main-content-info {
    background-color: rgb(249, 249, 249);
    display: inline-block;
    margin-top: 8.5rem;
    margin-left: 6rem;
    height: 17.5rem;
    width: 27.5rem;
    padding: 2.25rem;
  }

  #main-content-info h1 {
    font-size: 2rem;
    text-align: center;
  }
  #main-content-info p {
    font-family: "Cabin", sans-serif;
    text-align: left;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 1.25rem;
    padding-top: 0.5rem;
  }
  /* Carousel */
  #carousel {
    background-color: rgb(249, 249, 249);
    height: 100vh;
    text-align: center;
    padding-top: 4rem;
  }
  #carousel h1 {
    margin-bottom: 1.5rem;
    font-size: 1.9rem;
  }
  #carousel img {
    width: 60%;
  }
  #carousel h3 {
    font-family: "Cabin", sans-serif;
    padding-top: 1.5rem;
    font-size: 0.95rem;
    letter-spacing: 0.1rem;
  }
  #carousel footer {
    color: rgb(39, 39, 39);
    font-size: 0.9rem;
    padding-top: 0.5rem;
    font-style: italic;
  }
  /* Left and right Arrows */
  .fa-angle-left {
    float: left;
    margin-top: 7.5rem;
    margin-left: 6rem;
  }
  .fa-angle-right {
    float: right;
    margin-top: 7.5rem;
    margin-right: 6rem;
  }

  /* Cards */
  #grid-content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 1.5rem;
    margin: 5rem 6.5rem 5rem 6.5rem;
  }

  #grid-content .card {
    background-color: rgb(249, 249, 249);
    width: 38vw;
    height: 100%;
  }
  #grid-content .card img {
    width: 38vw;
  }
  /* Cards Title */
  #grid-content .card h1 {
    font-size: 1.75rem;
    text-align: left;
    margin: 1rem 1.5rem 0rem 1.5rem;
  }
  /* Cards Content */
  #grid-content .card p {
    font-family: "Cabin", sans-serif;
    text-align: left;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 0.5rem 1.75rem 0rem 1.5rem;
  }
  /* Transparent Clickable Read-Me */
  #grid-content button {
    color: rgb(250, 0, 0);
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.4rem 1.25rem 1.5rem 1.5rem;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  #grid-content #img-contain {
    position: relative;
  }
  #grid-content #date-box {
    background-color: rgb(250, 0, 0);
    color: rgb(249, 249, 249);
    font-family: "Cabin", sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    position: absolute;
    bottom: -0.5rem;
    right: 1.75rem;
    padding: 0.15rem 0.6rem 0.15rem 0.6rem;
  }
  /* Page Footer */
  #page-footer {
    background-color: rgb(70, 70, 70);
    color: rgb(249, 249, 249);
    font-family: "Cabin", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 1.5rem;
    padding: 2.25rem 6rem 2.25rem 6rem;
    height: 35vh;
  }
  /* Left Side */
  #page-footer #left-info {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 38vw;
  }

  #page-footer #footer-info {
    text-align: left;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-right: 2.5rem;
  }

  #page-footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
  }

  #page-footer li a {
    color: rgb(249, 249, 249);
    text-decoration: none;
    text-align: left;
    padding: 0.05rem;
  }

  #page-footer li a:hover {
    background-color: #555;
    color: rgb(249, 249, 249);
  }
  /* Right side */
  #page-footer #footer-form {
    text-align: left;
    font-size: 1rem;
    line-height: 1.75rem;

    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  #page-footer #footer-form h5 {
    letter-spacing: 0.05rem;
  }

  #page-footer #sign-up-info {
    width: 100%;
  }

  #page-footer #sign-up {
    width: 38vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
  }

  #page-footer input {
    height: 2.15rem;
    width: 68%;
  }

  #page-footer #sign-up input::placeholder {
    font-family: "Playfair Display", serif;
    font-style: italic;
    color: grey;
    font-size: 0.9rem;
    padding: 1rem;
  }
  /* Subscription Button */
  #page-footer button {
    background-color: rgb(250, 0, 0);
    color: rgb(249, 249, 249);
    font-family: "Cabin", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
  }

  /* Page End */
  #page-end {
    background-color: rgb(36, 36, 36);
    color: rgb(249, 249, 249);
    font-family: "Cabin", sans-serif;
    padding: 0.75rem 6rem 0.75rem 6rem;
  }

  #page-end h4 {
    font-family: "Cabin", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }

  #page-end-icons {
    float: right;
    letter-spacing: 0.25rem;
    font-size: 0.75rem;
    text-align: center;
  }
}
